<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav ngClass="nav">
  	<div ngClass="url">
      点我点我点我
    </div>
    <h1>点击跳转：<a>我是h1</a></h1>
    <h2>点击跳转：<a>我是h2</a></h2>
    <aside>我是一个不变蓝的aside</aside>
    <header>我是头部</header>
    <div>
      <h4>我是段落一</h4>
    </div>
    <!-- <p>我是段落二</p>
    <p>我是段落三</p> -->
  </nav>
  <div ngClass="demo">
    <div ngClass="nav">我只是个假demo</div>
    <aside>我是一个骄傲的aside</aside>
    <div ngClass="btn">我是桂胖子，点我点我</div>
  </div>
  <app-content></app-content>
  <app-footer></app-footer>
</div>

